<!doctype html>
<html ng-app="taskboard">
  <head>
    <link href="styles.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
    <script src="../multiSortable.js"></script>
  </head>

  <body ng-controller="TaskController">
    <div class="column-wrapper" ng-repeat="column in board.columns">
      <div class="column-title">{{ column.name }}</div>
      <div ui-multi-sortable ng-model="board" model-subset="columns[{{ $index }}].items" class="column">
        <div class="item" ng-repeat="item in column.items">{{ item.name }}</div>
      </div>
    </div>
    <div style="clear: both"></div>
    <span>Has underlying model changed? {{changed}}</span>
    <div style="clear: both"></div>
    <pre ng-bind="board | json"></pre>

    <script type="text/javascript">
      (function(){

        angular.module('ui.config', []).value('ui.config', {
          sortable: {
            connectWith: '.column',
            update: 'itemsChanged',
          }
        });

        this.taskboard = angular.module('taskboard', ['ui']);

        this.TaskController = function($scope) {
          $scope.changed = 'Unfortunately not';

          $scope.board = {
            columns: [
              { name: 'todo',
                items: [
                  {name: 'todo 1'},
                  {name: 'todo 2'},
                  {name: 'todo 3'},
                  {name: 'todo 4'}
                ]
              },
              { name: 'done',
                items: [
                  {name: 'done 1'},
                  {name: 'done 2'}
                ]
              },
              { name: 'onhold',
                items: []
              }
            ]
          };

          $scope.itemsChanged = function() {
            $scope.changed = 'Yes, of course :)';
          }

        };

      }).call(this);
    </script>
  </body>
</html>