<!doctype html>
<html ng-app="taskboard">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="angular-ui.js"></script>
    <style type="text/css">
      .src {
        position: relative;
        width: 200px;
        height: 300px;
        background: #ededed;
        float: left;
        margin-right: 20px;
      }

      .item {
        box-sizing: border-box;
        padding: 2px;
        width: 200px;
        background: #8c0;
        margin-bottom: 1px;
      }

      .ui-sortable-helper {
        background: #8cf;
      }

      .enlarge {
        font-size: 60px;
      }
    </style>
  </head>
  <body ng-controller="TaskController">
    <div ui-sortable ui-options="{connectWith: '.src', start: addStart, stop: addStop}" ng-model="items" model-subset="todo" class="src">
      <div class="item" ng-repeat="item in items.todo">
        <div ng:controller="SingleTask">
          <span ng:hide="editorEnabled" ng:click="enableEditor()">
              {{item.name}}
          </span>                    
          <span ng:show="editorEnabled">
              <input type="text" size="30" name="itemName" ng:required ng-model="itemName" />
              <button ng:click="save()">Ok</button>
              <button ng:click="disableEditor()">Cancel</button>
          </span>
        </div>
      </div>
    </div>
    
    <div ui-sortable ui-options="{connectWith: '.src'}" ng-model="items" model-subset="done" class="src">
      <div class="item" ng-repeat="item in items.done">{{ item.name }}</div>
    </div>

    <div ui-sortable ui-options="{connectWith: '.src'}" ng-model="items" model-subset="onhold" class="src">
      <div class="item" ng-repeat="item in items.onhold">{{ item.name }}</div>
    </div>

    <div style="clear: both"></div>
    <pre ng-bind="items | json"></pre>
  </body>
  <script type="text/javascript">
    (function(){
      
      this.taskboard = angular.module('taskboard', ['ui']);

      this.TaskController = function($scope) {
        $scope.items = {
          todo: [
            {name: 'todo 1'},
            {name: 'todo 2'},
            {name: 'todo 3'},
            {name: 'todo 4'}
          ],
          done: [
            {name: 'done 1'},
            {name: 'done 2'},
          ],
          onhold: []
        };

        $scope.addStart = function(e, ui) {
          ui.item.addClass('enlarge');
        };
        $scope.addStop = function(e, ui) {
          ui.item.removeClass('enlarge');
        };
      };

      this.SingleTask = function($scope) {
          $scope.editorEnabled = false;

          $scope.enableEditor = function() {
              $scope.editorEnabled = true;
              $scope.itemName = $scope.item.name;
          },

          $scope.disableEditor = function() {
              $scope.editorEnabled = false;
          },

          $scope.save = function() {
              $scope.item.name = $scope.itemName;
              $scope.disableEditor();
          }
      }


    }).call(this);
  </script>
</html>