<!doctype html>
<html ng-app="taskboard">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="angular-ui.js"></script>
    <style type="text/css">
      #src {
        position: relative;
        width: 200px;
        height: 300px;
        background: #ededed;
        float: left;
        margin-right: 20px;
      }

      #dst {
        position: relative;
        width: 200px;
        height: 300px;
        background: #999;
        float: left;
      }

      #src .item, #dst .item {
        box-sizing: border-box;
        padding: 2px;
        width: 200px;
        background: #8c0;
        margin-bottom: 1px;
      }
    </style>
  </head>
  <body ng-controller="TaskController">
    <div ui-sortable ui-options="{connectWith: '#dst', receive: receive}" ng-model="items" model-subset="todo" id="src">
      <div class="item" ng-repeat="item in items.todo">{{ item.name }}</div>
    </div>
    
    <div ui-sortable ui-options="{connectWith: '#src', receive: receive}" ng-model="items" model-subset="done" id="dst">
      <div class="item" ng-repeat="item in items.done">{{ item.name }}</div>
    </div>
    <div style="clear: both"></div>
    <pre ng-bind="items | json"></pre>
  </body>
  <script type="text/javascript">
    (function(){
      
      this.taskboard = angular.module('taskboard', ['ui']);

      this.TaskController = function($scope) {
        $scope.items = {
          todo: [
            {name: 'todo 1'},
            {name: 'todo 2'},
            {name: 'todo 3'},
            {name: 'todo 4'}
          ],
          done: [
            {name: 'done 1'},
            {name: 'done 2'},
          ]
        };
      };

    }).call(this);
  </script>
</html>